# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = scan_series_sites.settings

[deploy]
url = http://localhost:6800/
project = scan_series_sites
