{% load static %}<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "bootstrap/css/bootstrap.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% block javascript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js"%}"></script>
{% endblock%}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body>

<div class="container">
         {% block header %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">
                            CSV-manager
                        </a>
                        <ul class="nav">
                            <li>
                               <a href="">Главная</a>
                            </li>
                            <li>
                               <a href="/upload">Загрузка файлов</a>
                            </li>
                       </ul>
                       <ul class="nav pull-right">
                       <li>
                          <a href="{% url auth_logout %}">Выход</a>
                       </li>
                       </ul>
                    </div>
                </div>
            <div>
         {% endblock %}
            {% block content %}
            {% endblock %}
</div>
{% block footer %}<footer>© Kanakhin 2012</footer>{% endblock %}
</div>
</body>
</html>
