{% extends "base.html" %}
{% load files_manager_tags %}
{% block title %}{{ file_name }} {% endblock %}
{% block extrastyle %}
<style>
.table-text {
color: black;
}
th {
border-bottom: 1px solid black;
}

</style>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-block alert-{{ message.tags }}"{% endif %}>
    <a class="close" data-dismiss="alert">×</a>
    {% if message.tags == "success" %}
     <h4 class="alert-heading">Well done!</h4>
    {% endif %}
        {{ message }} under the name {{file_name }}
    </div>
    {% endfor %}
{% endif %}
{% show_table table_value file_name %}
{% endblock %}
