{% extends "base.html" %}
{% block content %}
<table class=" table table-striped table-bordered">
     <thead>
        <tr>
       {% for head_column in column %}
           {% if forloop.first %} 
              <th>X</th><th>F{{ head_column }}(X)</th>
           {% else %}
              <th>F{{ head_column }}(X)</th>
           {% endif %}
       {% endfor %}
        <tr>
     </thead>
     <tbody>
     {% for key,value in table_value.items %}
       <tr>
       <td>
       {{ key }}
       </td>
       {% for function_value in value %}
       <td>
       {{ function_value }}
       </td>
       {% endfor %}
       </tr>
       {% endfor %}
       
     </tbody>
</table>
{% endblock %}
