{% extends "base.html" %}
{% load files_manager_tags %}
{% block title %}{{ file_name }} {% endblock %}
{% block extrastyle %}
<style>
.table-text {
color: black;
}
th {
border-bottom: 1px solid black;
}

</style>
{% endblock %}
{% block content %}
<div class="container">
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-block alert-{{ message.tags }}"{% endif %}>
    <a class="close" data-dismiss="alert">×</a>
    {% if message.tags == "success" %}
     <h4 class="alert-heading">Well done!</h4>
        {{ message }} under the name {{file_name }}
    {% endif %}
    {% if message.tags == "info" %}
     <h4 class="alert-heading">Attention!</h4>
        {{ message }} <br>
        File:{{file_name }} will be available later!
    {% endif %}
    </div>
    {% endfor %}
{% endif %}
{% if file_status == 'uploaded' %}
{% show_table table_value header_values file_name %}
{% else %}
<a href='/'>Перейти к списку файлов</a>
{% endif %}
</div>
{% endblock %}
