{% extends "base.html" %}
{% load files_manager_tags %}
{% block extrastyle %}
<style>
.block_height{
    height: 500px;
}
.sidebar-nav{
    margin-top: 10px;
    height: 350px;
    overflow: auto;
}
.file-content-bar{
    margin-top: 10px;
    height: 350px;
}
.hero-unit{
height: 300px;
}
.pagination{

}
</style>
{% endblock %}
{% block extrascript %}
  <script>
  function reset_btn_category(){
  $('.category').button('reset');
  }
  </script>
{% endblock %}
{% block content %}
<div class="container-fluid block_height">
  <div class="row-fluid">
    <div class="span2">
       <div class="well sidebar-nav">
           <label>Список категорий:</label>
          {% for category in categories_list %}
				<a href="/category/{{ category.category_slug }}">{{ category.name_category }}</a><br>
          {% endfor %}			
       </div>
     
    </div>
    <div class="span10 file-content-bar">
      <table class="table table-striped" >
         <thead>
            <tr>
               <th>#</th>
               <th>File Name</th>
               <th>Upload data</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
         {% for file in files_output_list %}
	    <tr>
	       <td>
	          {{ forloop.counter0|add:files_output_list.start_index }}
	       </td>
	       <td>
	          {{ file.name_file}}
	       </td>
	       <td> 
	          {{file.upload_date}}
	       </td>
	       <td>
	          <a href="file_view/{{ file.id }}" > Открыть</a>
	       </td>
	     </tr>
          {% endfor %}
         </tbody>
      </table>      
    </div>
    <div class="span12">
	    {% files_paginator files_output_list %}
    </div>    
  </div>
</div>
{% endblock %}

				
