{% extends "base.html" %}
{% block extrastyle %}
<style>
.block_height{
    height: 500px;
}
.sidebar-nav{
    margin-top: 10px;
    height: 350px;
    overflow: auto;
}
.file-content-bar{
    margin-top: 10px;
    height: 350px;
}
.hero-unit{
height: 300px;
}
.pagination{

}
</style>
{% endblock %}
{% block extrascript %}
  <script>
  function reset_btn_category(){
  $('.category').button('reset');
  }
  </script>
{% endblock %}
{% block content %}
<div class="container-fluid block_height">
  <div class="row-fluid">
    <div class="span2">
       <div class="well sidebar-nav">
           <label>Список категорий:</label>
          {% for category in categories_list %}
				<a href="/{{ category.category_slug }}">{{ category.name_category }}</a><br>
          {% endfor %}			
       </div>
     
    </div>
    <div class="span10 file-content-bar">
      <table class="table table-striped" >
         <thead>
            <tr>
               <th>#</th>
               <th>File Name</th>
               <th>Upload data</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
         {% for file in files_output_list %}
	    <tr><td>{{ file.id}}</td><td>{{ file.name_file}}</td><td> {{file.upload_date}}</td><td><a href="file_view/{{ file.id }}" > Открыть</a></td></tr>
          {% endfor %}
         </tbody>
      </table>      
    </div>
    <div class="span12">
    <div class="pagination pagination-right">
		    <ul>
		       {% if files_output_list.has_previous %}
			    <li>
				    <a href="?page={{files_output_list.previous_page_number }}">Prev</a>
			    </li>
			    <li>
			       <a href="?page=1">first page</a>
			    </li>
			    {% endif %}
			    {% for page in page_range %}
			    {% if files_output_list.number == page %}
			    <li class="active">
			    {% else %}
			    <li>
			    {% endif %}
				    <a href="?page={{ page }}">{{ page }}</a>
			    </li>
			    {% endfor %}
			    {% if files_output_list.has_next %}
			    <li>
			       <a href="?page={{files_output_list.paginator.num_pages}}" >last page</a>
			    </li>
			    <li>
				    <a href="?page={{files_output_list.next_page_number }}">Next</a>
			    </li>
			     {% endif %}
		    </ul>
	    </div>
    </div>    
  </div>
</div>
{% endblock %}

				