<table class=" table table-striped table-bordered table-text">
     <caption>
       <b>
       File: {{ table_caption }}
       </b>
     </caption>
     <thead >
        <tr>
       {% for head_column in headers_list %}
              <th>{{ head_column }}</th>
       {% endfor %}
        <tr>
     </thead>
     <tbody>
       {% for raw in table_raws %}
           <tr>
           {% for cell in raw %}
              <td>{{ cell }}</td>
           {% endfor %}
           </tr> 
       {% endfor %}
     </tbody>
</table>
