{% block extrascript %}

<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'tab2',
                type: 'line',
                marginRight: 130,
                marginBottom:35
            },
            title: {
                text: '{{ table_caption }}',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: csv-manager.com',
                x: -20
            },
            xAxis: {
                title:{
                    text:'{{ data_chart.0.0 }}'
                },
                categories: {{ data_chart.0.1 }}
            },
            yAxis: {
                title: {
                    text: 'Function value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                shadow: true,
                x: -20,
                y: 100,
                borderWidth: 1
            },
            series: [
            {% for name_column,function_values in data_chart %}
                                     {% if forloop.first %}
                                     {% else %}
				           {
				             name: ' {{name_column}}',
				             data:{{ function_values }}
				           },
				    {% endif %}
	   
	   {% endfor %}
           ]
        });
    });
    
});
		</script>
{% endblock %}
<div class="tabbable"> 
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Table</a></li>
		<li><a href="#tab2" data-toggle="tab">Chart</a></li>
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1">
				<table class=" table table-striped table-bordered table-text">
				     <caption>
				       <b>
				       File: {{ table_caption }}
				       </b>
				     </caption>
				     <thead >
				        <tr>
				       {% for head_column in headers_list %}
				              <th>{{ head_column }}</th>
				       {% endfor %}
				        <tr>
				     </thead>
				     <tbody>
				       {% for raw in table_raws %}
				           <tr>
				           {% for cell in raw %}
				              <td>{{ cell }}</td>
				           {% endfor %}
				           </tr> 
				       {% endfor %}
				     </tbody>
				</table>
			</div>
			<div class="tab-pane" id="tab2" style="min-width: 1000px; height: 6
			00px; margin: 0 auto">
			</div>
   </div>
</div>
